:root {
  --form-control-border: var(--border-color);
  --form-control-color: var(--body-color);
  --glyphicon-color: hsla(0, 0%, var(--shade), 0.3);
  --glyphicon-hover-color: hsla(0, 0%, var(--shade), 1);
  --navbar-brand-color: hsl(0, 0%, var(--shade));
  --navbar-nav-link-color: hsl(0, 0%, var(--shade), 0.4);
  --navbar-nav-link-hover-color: hsl(0, 0%, var(--shade));
  --panel-heading-border-bottom-color: var(--border-color);
  --table-striped-odd: hsla(0, 0%, var(--shade), 0.05);
  --table-thead-border-bottom-color: var(--border-color);

  --nav-tabs-color: hsla(0, 0%, var(--shade), 0.5);
  --nav-tabs-hover-color: hsl(0, 0%, var(--shade));
  --nav-tabs-border-bottom: var(--border-color);
  --nav-tabs-active-color: hsl(0, 0%, var(--shade));
  --nav-tabs-active-border: var(--c-primary);
  --dropdown-menu-active-bg: var(--c-primary);
  --dropdown-menu-border: var(--border-color);

  /* #39BAC6 */ /* hsl(185, 55%, 50%) */
  --c-green-h: 185;
  --c-green-s: 55%;

  /* #0080FF */ /* hsl(210, 100%, 50%) */
  --c-blue-h: 210;
  --c-blue-s: 100%;

  /* yellow */
  /* #FFBF00 */
  /* hsl(45, 100%, 50%) */
  --c-yellow-h: 45;
  --c-yellow-s: 100%;

  --c-primary: hsl(var(--c-blue-h), var(--c-blue-s), 50%);
  --c-primary-hover: hsl(var(--c-blue-h), var(--c-blue-s), 40%);
  --c-primary-active: hsl(var(--c-blue-h), var(--c-blue-s), 60%);

  --c-secondary: hsl(var(--c-green-h), var(--c-green-s), 50%);
  --c-secondary-hover: hsl(var(--c-green-h), var(--c-green-s), 40%);
  --c-secondary-active: hsl(var(--c-green-h), var(--c-green-s), 60%);

  --c-warning: hsl(var(--c-yellow-h), var(--c-yellow-s), 50%);
  --c-warning-hover: hsl(var(--c-yellow-h), var(--c-yellow-s), 40%);
  --c-warning-active: hsl(var(--c-yellow-h), var(--c-yellow-s), 60%);

  --pager-border: var(--border-color);
  --pager-link-bg: none;
  --pager-link-border: var(--c-primary);
  --pager-link-hover-bg: var(--c-primary-hover);
  --pager-link-hover-color: #fff;
  --a-color: var(--c-primary);
}
