@import "_variables.css";

body {
  color: #495057;
  background: #f1f4f6;
}
.navbar-default .navbar-brand,
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:active {
  color: #000;
}
.navbar {
  background: #fff;
}
.glyphicon-search:hover {
  color: #99a3b4;
}
.panel-default > .panel-heading h5 {
  color: hsla(223, 65%, 15%, 0.7);
}
.bordered {
  border: 1px solid #ddd;
}





body {
  padding-top: 50px;
}
.btn.active.focus, .btn.active:focus, .btn.focus,
.btn:active.focus, .btn:active:focus, .btn:focus {
  outline: none;
}
nav .container-fluid {
  padding: 0 30px;
}
#main-content {
  margin: 30px;
}
#main-content .container,
#main-content .container-fluid {
  padding-left: 0;
  padding-right: 0;
}
.navbar {
  border: none;
  box-shadow: 0 0.25rem 0.53125rem rgba(4,9,20,0.05),
              0 0.125rem 0.1875rem rgba(4,9,20,0.03),
              0 0.46875rem 2.1875rem rgba(4,9,20,0.03),
              0 0.9375rem 1.40625rem rgba(4,9,20,0.03);
}

.navbar-brand {
  padding: 10px 15px;
}

.m-0 {
  margin: 0;
}
.m-5 {
  margin: 3rem;
}
.m-20 {
  margin: 20px;
}
.mx-20 {
  margin-left: 20px;
  margin-right: 20px;
}
.mb-20 {
  margin-bottom: 20px;
}
.p-0 {
  padding: 0
}
.p-10 {
  padding: 10px
}

.mt-20 {
  margin-top: 20px;
}

.mt-0 {
  margin-top: 0;
}

.mb-20 {
  margin-bottom: 20px;
}

#Search-Container input {
  width: 370px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 40px;
  display: inline-block;
  transition: 0.5s ease-out;
}

#Search-Container .input-group-addon {
  right: 0;
  z-index: 4;
  border: none;
  font-size: 20px;
  background: none;
  position: absolute;
}

#Search-Container .glyphicon-info-sign {
  top: 0;
  left: 45px;
  cursor: pointer;
  position: relative;
}

@media (min-width: 768px) {
  #Search-Container input {
    width: 620px;
  }
}

.glyphicon-search {
  width: 20px;
  height: 20px;
  cursor: pointer;
  padding-top: 0;
}




.badge-primary,
.badge-secondary,
.add-badge-primary a,
.add-badge-secondary a,
.add-badge-primary span,
.add-badge-secondary span {
  line-height: 1;
  font-size: 12px;
  min-width: 10px;
  padding: 3px 7px;
  font-weight: 700;
  text-align: center;
  border-radius: 10px;
  white-space: nowrap;
  display: inline-block;
  vertical-align: middle;
}

.badge-primary, .add-badge-primary a,
.badge-primary:hover, .add-badge-primary a:hover,
.badge-primary:active, .add-badge-primary a:active,
.badge-secondary, .add-badge-secondary a,
.badge-secondary:hover, .add-badge-secondary a:hover,
.badge-secondary:active, .add-badge-secondary a:active {
  color: #fff;
  text-decoration: none;
}

.btn {
  border: none
}

.badge-primary, .add-badge-primary a, .btn-primary,
.btn-primary.disabled, .btn-primary.disabled:hover, .btn-primary.disabled:active {
  background: var(--c-primary);
}
.badge-primary:hover, .add-badge-primary a:hover, .btn-primary:hover {
  background: var(--c-primary-hover);
}
.badge-primary:active, .add-badge-primary a:active, .btn-primary:active {
  background: var(--c-primary-active);
}
.badge-secondary, .add-badge-secondary a {
  background: var(--c-secondary);
}
.badge-secondary:hover, .add-badge-secondary a:hover {
  background: var(--c-secondary-hover);
}
.badge-secondary:active, .add-badge-secondary a:active {
  background: var(--c-secondary-active);
}

.app-search-bar {
  background: rgba(255,255,255,0.45);
}

.panel {
  border: none;
  margin-bottom: 30px;
  box-shadow: 0 0.46875rem 2.1875rem rgba(4,9,20,0.03),
              0 0.9375rem 1.40625rem rgba(4,9,20,0.03),
              0 0.25rem 0.53125rem rgba(4,9,20,0.05),
              0 0.125rem 0.1875rem rgba(4,9,20,0.03);
}
.panel-body {
  padding: 0;
}

.panel .table {
  margin-bottom: 0;
}

.panel-default > .panel-heading {
  background: none;
  padding: 15px;
}

.panel-default > .panel-heading h5 {
  font-weight: 500;
  font-size: 16px;
}

.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > thead > tr > th {
  padding: 10px 15px;
}
.table-hover tbody tr:hover {
  background-color: #e0f3ff;
}
.table > tbody > tr > td, .table > tbody > tr > th {
  border: 0;
}



ul.navbar-nav .divider-vertical {
  width: 1px;
  height: 20px;
  opacity: 0.5;
  margin: 15px 10px;
  border-right: 1px solid currentColor;
}
.network-selector .btn {
  border-radius: 50px
}
.pager {
  padding-left: 15px;
  padding-right: 15px;
}



.panel-body > div:not(.row) {
  display: flex;
  flex-direction: column;
}
.panel-body .pager {
  order: 2;
  margin-top: 0;
}
.order-1 {
  order: 1;
}
.panel.top-border-radius-0 {
  border-color: #ddd;
  border-style: solid;
  border-width: 0 1px 1px 1px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.border-right {
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #ddd;
}
